<h5>Exemplos de Pipes</h5>

<p>Título: {{ livro.titulo | uppercase | lowercase | camelCase }}</p>
<p>Estrelas: {{ livro.rating | number: '1.1-2'}}</p>
<p>Páginas: {{ livro.numeroPaginas  }}</p>
<p>Preço: {{ livro.preco | currency: 'BRL': true}}</p>
<p>Data de lançamento: {{ livro.dataLancamento | date }} </p>
<p>Url: {{ livro.url }} </p>
<p>Livro: {{ livro | json}}</p>

<h5>LISTA DE LIVROS</h5>
<br>


<input type="text" [(ngModel)]="verificador">

<br>
<!--Tá com um bug, pois a lista não atualiza-->
<input type="text" #novoValor>
<button (click)="AddLivro(novoValor.value)">Add livro</button>


<ul>
    <li *ngFor="let liv of livros | filtroArray: verificador"> 
        {{ liv }}
    </li>
</ul>