<!--app-diretiva-ngif></app-diretiva-ngif-->

<!--app-diretiva-ngswitch></app-diretiva-ngswitch-->

<!--app-diretiva-ngfor></app-diretiva-ngfor-->

<!--app-diretiva-ngclass></app-diretiva-ngclass-->

<!--app-diretiva-ngstyle></app-diretiva-ngstyle-->

<!--app-operador-elvis></app-operador-elvis-->

    <!--app-exemplo-ng-content>

        <div class="titulo"> Naruto </div>

        <div class="corpo">
        Naruto é um jovem órfão habitante da Vila da Folha que sonha se tornar o quinto Hokage, o maior guerreiro e governante da vila. 
        Ao se graduar como ninja, descobre que tem um demônio raposa selado dentro de si. 
        Seu pai, o quarto Hokage, aprisionou a raposa no próprio filho quando a raposa ameaçava destruir a Vila da Folha, sacrificando assim a própria vida. Agora Naruto vai contar com a ajuda dos colegas Sakura e Sasuke e do professor dos três, Kakashi Hatake, para perseguir seu sonho e deter os ninjas que planejam fazer mal á sua cidade.
        </div>
    </app-exemplo-ng-content-->

<app-diretivas-customizadas></app-diretivas-customizadas>